:root {
  --color-text-blacklight: #212121;
  --color-text-black: #000000;
  --color-text-grey: #757575;
  --color-text-accent: #2196f3;
  --color-text-white: #ffffff;
  --color-button-hover: #188ce8;
  --color-hero-bgn: #2f303a;
  --color-main-bgn: #f5f4fa;
  --color-line: #ececec;
  --color-line-border: #eeeeee;
  --color-banner-bgn: #c4c4c4;
  --color-link-unacive: #afb1b8;
  --font-page: "Roboto", sans-serif;
  --font-logo: "Raleway", sans-serif;
  --transformation-property: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--font-page);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--color-text-white);
  color: var(--color-text-blacklight);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  font-family: var(--font-page);
  border: none;
  border-radius: 4px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-text-white);
  background-color: var(--color-text-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transformation-property);
  padding: 10px 24px;
}
.button:hover, .button:focus {
  background-color: var(--color-button-hover);
}
@media screen and (min-width: 1200px) {
  .button {
    padding: 10px 32px;
  }
}

.title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.footer-section {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  min-width: 320px;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transformation-property), color var(--transformation-property);
}

.social-links__link_light {
  color: var(--color-link-unacive);
}
.social-links__link_light:hover, .social-links__link_light:focus {
  background-color: var(--color-text-accent);
  color: var(--color-text-white);
}

.social-links__link_dark {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-links__link_dark:hover, .social-links__link_dark:focus {
  background-color: var(--color-text-accent);
}

.social-links__icon {
  fill: currentColor;
}

.social-links__icon--dark {
  fill: var(--color-text-white);
}

.hero {
  background-color: var(--color-banner-bgn);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  margin: 0 auto;
  height: 400px;
  padding: 118px 0;
  min-width: 320px;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
}

.hero__title {
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--color-text-white);
  width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    width: 696px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .advantage-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .advantage-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .advantage-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantage-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.advantage-group {
  border-radius: 4px;
  background-color: var(--color-main-bgn);
  margin-bottom: 30px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
@media screen and (min-width: 480px) {
  .advantage-group {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advantage-group {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage-group {
    width: 270px;
  }
}

.advantage-group__title {
  margin-bottom: 10px;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
}

.advantage-group__desc {
  font-weight: 400;
  line-height: 1.71;
  color: var(--color-text-grey);
}

.activity {
  display: none;
}
@media screen and (min-width: 1200px) {
  .activity {
    display: block;
  }
}

.activity__list {
  display: flex;
  gap: 30px;
}

.activity__list-item {
  flex-basis: calc((100% - 60px) / 3);
}

.activity-card {
  position: relative;
}

.activity-card__pic {
  display: block;
  max-width: 100%;
  height: auto;
}

.activity-card__desc {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--color-text-white);
  text-transform: uppercase;
  line-height: 1.14;
  font-weight: 700;
}

.team {
  background-color: var(--color-main-bgn);
}

.team__list {
  display: block;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-text-white);
}
@media screen and (max-width: 768px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-list-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list-item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

@media screen and (min-width: 678px) {
  .team-list-item__photo {
    max-width: 100%;
    height: auto;
  }
}

.team-list-item__about {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team-list-item__about {
    padding-bottom: 30px;
  }
}

.team-list-item__title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team-list-item__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--color-text-grey);
  margin-bottom: 16px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--color-link-unacive);
  color: var(--color-link-unacive);
  transition: color var(--transformation-property), border-color var(--transformation-property);
}
.clients-list__link:hover, .clients-list__link:focus {
  color: var(--color-text-accent);
  border-color: var(--color-text-accent);
}

.clients-list__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients-list__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity var(--transformation-property), visibility var(--transformation-property);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--color-text-white);
}

.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  transition: fill var(--transformation-property);
}
.btn-close:hover {
  fill: var(--color-text-accent);
}

.modal-container {
  position: relative;
}

.modal-container__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--color-text-blacklight);
  text-align: center;
  margin-bottom: 12px;
}

.modal-container__user-data {
  display: block;
  flex-direction: column;
}

.modal-container__label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.modal-container__label.modal-container__label--add-margin {
  margin-bottom: 20px;
}

.modal-container__desc {
  font-family: var(--font-page);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-text-grey);
}

.modal-container__input {
  margin-top: 4px;
  padding: 12px 10px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  line-height: 1.17;
  font-weight: 400;
  font-size: 12px;
  color: var(--color-text-black);
  transition: border-color var(--transformation-property);
}
.modal-container__input:focus {
  border-color: var(--color-text-accent);
  outline: none;
  cursor: pointer;
}
.modal-container__input:hover {
  cursor: pointer;
}
.modal-container__label:hover .modal-container__input {
  border: 1px solid var(--color-text-accent);
}
.modal-container__label:focus-within .modal-container__input {
  border: 1px solid var(--color-text-accent);
}

.modal-container__icon {
  position: absolute;
  left: 12px;
  top: 27px;
  transition: fill var(--transformation-property);
}
.modal-container__input:focus + .modal-container__icon {
  fill: var(--color-text-accent);
}
.modal-container__label:focus-within .modal-container__icon, .modal-container__label:hover .modal-container__icon {
  fill: var(--color-text-accent);
}

.modal-container__coment {
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--color-text-black);
  transition: border-color var(--transformation-property);
}
.modal-container__coment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-container__coment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-container__coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-container__coment:focus {
  border-color: var(--color-text-accent);
  outline: none;
  cursor: pointer;
}
.modal-container__coment:hover {
  cursor: pointer;
}

.modal-container__check-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-text-grey);
}

.modal-container__policy-text {
  color: var(--color-text-accent);
}

.modal-container__policy-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-text-blacklight);
  border-radius: 4px;
  margin-right: 7px;
  cursor: pointer;
}
.modal-container__check-agreement:checked + .modal-container__policy-icon {
  background-color: var(--color-text-accent);
  border-color: var(--color-text-accent);
  background-origin: border-box;
}/*# sourceMappingURL=main.css.map */