.clients-list {
  display: flex;
  @include wraped(30px);
}

.clients-list__link {
  @include flex(center, center);
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--color-link-unacive);
  color: var(--color-link-unacive);
  transition: color var(--transformation-property), border-color var(--transformation-property);

  &:hover,
  &:focus {
    color: var(--color-text-accent);
    border-color: var(--color-text-accent);
  }
}

.clients-list__item {
  flex-basis: calc((100% - 30px) / 2);
}

.clients-list__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
