.footer-social {
  margin-right: auto;
}

.footer-social__title {
  margin-bottom: 20px;

  color: var(--color-text-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
