.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-hero-bgn);
}

.footer-adress {
  margin-right: 70px;
}

.adress {
  margin-top: 20px;
  font-style: normal;
}

.footer-adress__list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress__location {
  color: var(--color-text-white);
  line-height: 1.71;
  transition: color var(--transformation-property);
  &:hover,
  &:focus {
    color: var(--color-text-accent);
  }
}

.footer-adress__contacts {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  transition: color var(--transformation-property);
  &:hover,
  &:focus {
    color: var(--color-text-accent);
  }
}
