.footer-social {
  text-align: center;
}

.footer-social__title {
  margin-bottom: 20px;

  color: var(--color-text-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-bottom: 60px;
  }
  .footer-social__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-social {
    margin-right: 89px;
  }
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social__title {
    text-align: left;
  }
  .footer-social {
    margin-right: auto;
    margin-left: 0;
  }
}
