.logo {
  font-family: var(--font-logo);
  color: var(--color-text-accent);
  font-size: 24px;
  line-height: 1.17;

  &:focus,
  &:hover {
    outline: 0;
    outline-offset: 0;
  }
}

.logo-part {
  color: var(--color-text-black);
}

.footer-logo-part {
  color: var(--color-text-white);
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.2;
  }
}
