:root {
  --color-text-blacklight: #212121;
  --color-text-black: #000000;
  --color-text-grey: #757575;
  --color-text-accent: #2196f3;
  --color-text-white: #ffffff;
  --color-button-hover: #188ce8;
  --color-hero-bgn: #2f303a;
  --color-main-bgn: #f5f4fa;
  --color-line: #ececec;
  --color-line-border: #eeeeee;
  --color-banner-bgn: #c4c4c4;
  --color-link-unacive: #afb1b8;
  --font-page: 'Roboto', sans-serif;
  --font-logo: 'Raleway', sans-serif;
  --transformation-property: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
